{% extends "twitter_auth/result.html" %}

{% block content %}
	<div id="container" class = "text-center">
		<img src="{{user.profile_image_url}}" width="128" height="128""/>
		<h2>{{user.name}}</h2>
		<p>@{{user.screen_name}}<p/>
		<p><b>Your tweets:</b></p>
		<div class= "text-adjust-left">
			{% for item in tweets %}
				{{forloop.counter}}. {{item.full_text}} <br>
				{% if forloop.counter == 10 %}
					{{ break }}

				{% endif %}
			{% endfor %}
			</div>
		<br><br>
		<p><b> Your Big Five Personalities Result are: </b></p>
			<div>

				<table align="center">
  			<tr>
    		<th><h3>TRAITS</h3></th>
    		<th><h3>CONDITION (YES/NO)</h3></th>
    		<th><h3>PERCENTAGE</h3></th>
  			</tr>
  			<tr>
    		<td align="left"><h4>OPENNESS</h4></td>
    		<td><h5>{{cOPN}}</h5></td>
    		<td><h5>{{sOPN}}</h5></td>
		  	</tr>
		  	<tr>
    		<td align="left"><h4>CONCIENTIOUSNESS</h4></td>
    		<td><h5>{{cCON}}</h5></td>
    		<td><h5>{{sCON}}</h5></td>
  			</tr>
  			<tr>
    		<td align="left"><h4>EXTROVERSION</h4></td>
    		<td><h5>{{cEXT}}</h5></td>
    		<td><h5>{{sEXT}}</h5></td>
  			</tr>
				<tr>
    		<td align="left"><h4>AGREEABLENESS</h4></td>
    		<td><h5>{{cAGR}}</h5></td>
    		<td><h5>{{sAGR}}</h5></td>
  			</tr>
				<tr>
    		<td align="left"><h4>NEUROTICISM</h4></td>
    		<td><h5>{{cNEU}}</h5></td>
    		<td><h5>{{sNEU}}</h5></td>
  			</tr>
				</table>

		</div>
		<br>
		<a href="/logout/" title="logout">logout</a>
	</div>


	<div id="container" align="center">
		{% include "twitter_auth/includes/GotoTimelineSnippet.html" %}
		<br>
		{% include "twitter_auth/includes/GotoPostSnippet.html" %}
	</div>
	<hr>
{% endblock %}
