<!-- personality_app/templates/predict.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Prediction</title>
</head>
<body>
    <h1>Twitter User Personality Prediction</h1>
    
    <form method="post" action="{% url 'predict_personality' %}">
        {% csrf_token %}
        <label for="username">Twitter Username:</label>
        <input type="text" name="username" required>
        <button type="submit">Predict Personality</button>
    </form>
</body>
</html>
